body {
    width: 90%;
    margin: 1em auto;
    font-family:"Kaiti SC", Georgia, 'Times New Roman', Times, serif !important;
    font-size: 20px;
    color: #35453F;
    background-color: #C4E7CD;
}

p {
    margin-bottom: 1em !important;
    font-size: 20px !important;
}

h1.en, h2.en, p.en {
    /* display: none; */
}

p.cn {
    letter-spacing: 0.1em;
}

img{
    width: 90% !important;
    text-align: center !important;
}

sup {
    margin-right: 0.5em;
}

a {
    color: #232442
}

strong {
    color: #151741; 
    font-size: 95%;
}

p.cn .babilu3 {
    font-style:normal;
    font-size: 95%;
    font-weight: bold;
    color: #151741;
}

.adc {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.5em;
    text-align: center;
    text-indent: 0
    }
.backmatter-rw {
    text-align: center;
    text-indent: 0
    }
.bl-list {
    display: block;
    line-height: 1.3em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-left: 2.5em;
    text-indent: -0.9em
    }
.blockquote {
    display: block;
    margin-bottom: 1.5em;
    margin-top: 1.5em
    }
.blockquote-firstpara {
    display: block;
    margin-bottom: 0;
    margin-left: 20pt;
    margin-right: 20pt;
    margin-top: 0;
    text-indent: 0
    }
.blockquote-indentedpara {
    display: block;
    margin-bottom: 0;
    margin-left: 20pt;
    margin-right: 20pt;
    margin-top: 0;
    text-indent: 1.5em
    }
.calibre {
    display: block;
    font-size: 1em;
    line-height: 1.2em;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0
    }
.calibre1 {
    display: inline;
    height: auto;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    page-break-inside: avoid;
    width: 100%
    }
.calibre2 {
    display: list-item;
    font-size: 1em
    }
.calibre3 {
    font-style: italic
    }
.calibre4 {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center
    }
.calibre5 {
    display: block;
    font-size: 1em;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center
    }
.calibre6 {
    display: block
    }
.calibre7 {
    display: block;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em
    }
.calibre8 {
    font-weight: bold
    }
.calibre9 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-indent: 20pt
    }
.calibre10 {
    font-size: 0.83333em;
    line-height: 1.2;
    vertical-align: super
    }
.calibre11 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-indent: 20pt;
    visibility: hidden
    }
.calibre12 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-indent: 20pt;
    visibility: hidden;
    word-spacing: -10px
    }
.chapter-number {
    display: block;
    font-size: 1.29167em;
    font-weight: normal;
    line-height: 1.2;
    margin-bottom: 2em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 10%;
    text-align: center;
    text-indent: 0
    }
.chapter-subtitle {
    display: block;
    font-size: 1.29167em;
    font-weight: normal;
    line-height: 1.2;
    margin-bottom: 2em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: center;
    text-indent: 0
    }
.chapter-title {
    display: block;
    font-size: 1.66667em;
    font-weight: normal;
    line-height: 1.2;
    margin-bottom: 2em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.5em;
    text-align: center;
    text-indent: 0
    }
.chapter-titlea {
    display: block;
    font-size: 1.66667em;
    font-weight: normal;
    line-height: 1.2;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.5em;
    text-align: center;
    text-indent: 0
    }
.copyright {
    display: block;
    font-size: 1em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: left;
    text-indent: 0
    }
.copyright-space {
    display: block;
    font-size: 1em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: left;
    text-indent: 0
    }
.copyright-spacea {
    display: block;
    font-size: 1em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 10%;
    text-align: left;
    text-indent: 0
    }
.dedication {
    display: block;
    margin-bottom: 0;
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 15%;
    text-align: center;
    text-indent: 0
    }
.discoverpage {
    display: block;
    margin-top: 2em
    }
.dropcap {
    font-size: 1.83333em;
    line-height: 1.2
    }
.endnote {
    display: block;
    margin-bottom: 0;
    margin-left: 1.5em;
    margin-right: 0;
    margin-top: 0;
    text-indent: -1.1em
    }
.endnotea {
    display: block;
    margin-bottom: 0;
    margin-left: 1.5em;
    margin-right: 0;
    margin-top: 0;
    text-indent: -1.5em
    }
.frontmatter-rw {
    display: block;
    font-size: 1.29167em;
    line-height: 1.2;
    padding-bottom: 2em;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 2em;
    text-align: center
    }
.galley-rw {
    display: block;
    font-size: 1em;
    font-weight: normal;
    letter-spacing: 0;
    line-height: 1.2em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    orphans: 1;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify;
    widows: 1;
    word-spacing: 0
    }
.hidden-tag {
    display: none;
    visibility: hidden
    }
.img {
    display: block;
    margin-bottom: 0.25em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.25em;
    padding-top: 0.2em;
    text-align: center;
    text-indent: 0
    }
.landingpagelink {
    text-decoration: none
    }
.list-title {
    display: block;
    font-size: 0.83333em;
    font-weight: normal;
    margin-bottom: 0.7em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1.5em;
    text-align: center;
    text-indent: 0
    }
.nl-list {
    display: block;
    line-height: 1.3em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-left: 2em;
    text-indent: -1em
    }
.noindent {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-indent: 0
    }
.none {
    display: block;
    list-style-type: none;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.note-t {
    display: block;
    margin-bottom: 0.3em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1.3em;
    text-align: center;
    text-indent: 0
    }
.pc {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0.5em;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0.5em;
    text-align: center;
    text-indent: 0
    }
.preface-title {
    display: block;
    font-size: 1.66667em;
    font-weight: normal;
    line-height: 1.2;
    margin-bottom: 2.5em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 10%;
    text-align: center;
    text-indent: 0
    }
.preface-titlea {
    display: block;
    font-size: 0.83333em;
    font-weight: normal;
    line-height: 1.2;
    margin-bottom: 1.5em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 10%;
    text-align: center;
    text-indent: 0
    }
.publisherlogo {
    display: block;
    margin-top: 4em;
    text-align: center
    }
.publisherlogoimg {
    height: auto;
    width: auto
    }
.sect {
    display: block;
    font-size: 1.29167em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0.7em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 2em;
    text-align: center;
    text-indent: 0
    }
.small-caps {
    font-size: 0.75em
    }
.space-break {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 2.5em;
    text-indent: 0
    }
.toc-appendixa {
    display: list-item;
    font-size: 1em;
    margin-bottom: 6pt;
    margin-top: 1.5em;
    text-align: left;
    text-indent: 0
    }
.toc-chapter {
    display: list-item;
    font-size: 1em;
    margin-bottom: 6pt;
    margin-left: 1em;
    margin-top: 6pt;
    text-align: left;
    text-indent: -1em
    }
.toc-front {
    display: list-item;
    font-size: 1em;
    margin-bottom: 6pt;
    margin-top: 6pt;
    text-align: left;
    text-indent: 0
    }
.toc-preface {
    display: list-item;
    font-size: 1em;
    margin-bottom: 1.5em;
    margin-top: 1.5em;
    text-align: left;
    text-indent: 0
    }
.toc-title {
    display: block;
    font-size: 1em;
    font-weight: bold;
    line-height: 1.2em;
    margin-bottom: 2em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 10%;
    text-align: center;
    text-indent: 0
    }
.top {
    display: block;
    margin-bottom: 2em;
    margin-top: 2em
    }
.width {
    display: block;
    margin-bottom: 0;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 0;
    page-break-inside: avoid;
    width: 89%
    }

@page {
    margin-bottom: 5pt;
    margin-top: 5pt
    }


